<div>
  <div>
    <h1>Details of user <%= @user.id %></h1>
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <th>Username:</th>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>